



@mixin mobile {
    @media screen and (max-width: 567px){
        @content
    }
}

@mixin desktop {
    @media screen and (min-width:567px) {
        @content
    }
}

@mixin align-center{
    align-items: center;
    justify-content: center;
    display: flex
}

@mixin background-Hogwarts-House($house){
    @if $house == $house-Gryffindor{
        background: getBackgroundGradient($color-Red,$color-Gradis );
    }@else if $house == $house-Hufflepuff{
        background: getBackgroundGradient($color-Supernova,$color-Dolly );
    }@else if $house == $house-Ravenclaw{
        background: getBackgroundGradient($color-Bondi-Blue,$color-Malibu );
    }@else if $house == $house-Slytherin{
        background: getBackgroundGradient($color-Forest-Green,$color-Conifer );
    }  
}