main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.filters {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding-top: 3rem;

    @include mobile {
        gap: .5rem;
        width: 100%;
    }

    @include desktop {
        gap: 4rem;
    }

    &__filter{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    img{
        height: 66px;
        width: 193.8px;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 25px;
        text-align: center;

        @include mobile {
            font-size: 26px;
        }
    
        @include desktop {
            font-size: 36px;
        }
    }
}