.character-details {
    color: $color-Dusty-Gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    @include mobile {
        font-size: 11px;
    }

    @include desktop {
        font-size: 14px;
    }

    &__data {
        display: flex;

        @include mobile {
            flex-direction: column;
        }

        @include desktop {
            flex-direction: row;
            gap: .5rem;
        }

        &--separator {
            @include mobile {
                display: none;
            }
        }
    }
}